<a href="/meal/{{id}}" class="text-decoration-none">
    <article class="meal-card">
        <img src="{{thumbnail}}" alt="{{name}}" height="200" width="200" loading="lazy">
        <h3>{{name}}</h3>
        <p>Origin: {{area}}</p>
    </article>
</a>