<div class="d-flex justify-content-between align-items-end mb-3">
  <div>
    <h1 class="h4 mb-1">Meals</h1>
    <p class="text-muted mb-0">This weeks menu</p>
    <div class="meal-grid d-flex">
      {{#each thisWeekMeals}}
      <a href="/meal/{{this.id}}">
      <div class="meal-card">
        <img src="{{this.thumbnail}}" alt="{{this.name}} height=" 200" width="200">
        <h4>{{this.name}}</h4>
        <p>Origin: {{this.area}}</p>

        {{!-- <a href="/meals/{{this.idMeal}}" class="btn">View Recipe</a> --}}
      </div>
      </a>
      {{/each}}

      {{#unless thisWeekMeals}}
      <p>No recipes found.</p>
      {{/unless}}
    </div>
    <br>
    <p>My favorite meals</p>
    <div class="meal-grid d-flex">
      {{#each favoriteMeals}}
      <div class="meal-card">
        <img src="{{this.thumbnail}}" alt="{{this.name}} height=" 200" width="200">
        <h4>{{this.name}}</h4>
        <p>Origin: {{this.area}}</p>

        {{!-- <a href="/meals/{{this.idMeal}}" class="btn">View Recipe</a> --}}
      </div>
      {{/each}}

      {{#unless favoriteMeals}}
      <p>No favorite meals found.</p>
      {{/unless}}
    </div>
  </div>
</div>