<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{mealData.thumbnail}}" alt="{{mealData.name}}" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">{{mealData.name}}</h1>
            <p class="lead text-muted">{{mealData.category}} | {{mealData.area}}</p>
            <p>{{mealData.description}}</p>

            <div class="mt-4">
                <h4>Ingredients</h4>
                <ul class="list-group list-group-flush">
                    {{#each mealData.ingredients}}
                    <li class="list-group-item">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3>Instructions</h3>
            <div class="p-3 bg-light border rounded">
                <p style="white-space: pre-wrap;">{{mealData.instructions}}</p>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-5">
        <div class="col-12 d-flex gap-3">
            {{#if mealData.youtube}}
            <a href="{{mealData.youtube}}" target="_blank" class="btn btn-danger">Watch on YouTube</a>
            {{/if}}
            {{#if mealData.source}}
            <a href="{{mealData.source}}" target="_blank" class="btn btn-secondary">Original Source</a>
            {{/if}}
            {{#if mealData.id}}
            {{#if mealData.favorite}}
            <button onclick="updateSavedMeal({{mealData.id}}, {favorite: false})" class="btn btn-outline-primary">Remove
                from Favorites</button>
            {{else}}
            <button onclick="updateSavedMeal({{mealData.id}}, {favorite: true})" class="btn btn-outline-success">Add to
                Favorites</button>
            {{/if}}
            {{#if mealData.thisweek}}
            <button onclick="updateSavedMeal({{mealData.id}}, {thisweek: false})" class="btn btn-outline-primary">Remove
                from This Week</button>
            {{else}}
            <button onclick="updateSavedMeal({{mealData.id}}, {thisweek: true})" class="btn btn-outline-success">Add to
                This Week</button>
            {{/if}}
            <button onclick="deleteSavedMeal({{mealData.id}})" class="btn btn-outline-danger">Unsave Meal</button>
            {{else}}
            <button onclick="addSavedMeal({
                name: '{{mealData.name}}',
                description: '{{mealData.description}}',
                idmeal: {{mealData.idmeal}},
                category: '{{mealData.category}}',
                area: '{{mealData.area}}',
                instructions: '{{mealData.instructions}}',
                thumbnail: '{{mealData.thumbnail}}',
                youtube: '{{mealData.youtube}}',
                source: '{{mealData.source}}',
                ingredients: {{#if mealData.ingredients}}JSON.parse('{{{json mealData.ingredients}}}'){{else}}[]{{/if}}
            })" class="btn btn-outline-success">Save Meal</button>
            {{/if}}
            <a href="/" class="btn btn-outline-primary">Back to Home</a>
        </div>
    </div>
</div>